PORT=3000
RENDER_URL=https://plataforma-llave.onrender.com
SYNC_SECRET=NO-COMPARTIR-ESTA-CLAVE
DATABASE_URL="postgres://postgres.tu_proyecto:tu_contraseña@aws-0-tu-region.pooler.supabase.com:6543/postgres"
